#character_header
  #character_header_left
    #character_header_left_top
      #character_name
        = name
      #guild_title
        #title
          = @title
        #guild
          = link_to get_guild, guild_path(id: "#{get_guild}_#{@realm}")
    #character_header_left_bottom
      = build_stats_string
  #character_header_right
    #average_items_number
      = average_item_level
    #average_item_equipped
      #average_item_header
        average item level
      #average_item_equipped_value
        = "(#{average_item_level_equipped} equipped)"

