#left_nav_bar
  #achievement_points
    = image_tag "http://us.battle.net/wow/static/images/icons/achievements.gif", {style: "float: left; padding-top: 10px; padding-right: 5px" }
    = achievement_points 
  #left_nav_bar_main
    %ul#link_styling
      %li= link_to 'Summary',         character_path(id: "#{@character.name}_#{@realm}")
      %li= link_to 'Hunter Pets',     "/characters/hunter_pets/#{@character.name}_#{@realm}"
      %li= link_to 'Auctions',        "/characters/auctions/#{@character.name}_#{@realm}"
      %li= link_to 'Events',          "/characters/events/#{@character.name}_#{@realm}"
      %li= link_to 'Achievements',    "/characters/achievements/#{@character.name}_#{@realm}"
      %li= link_to 'Challenge Mode',  "/characters/challenge_mode/#{@character.name}_#{@realm}"
      %li= link_to 'Pets & Mounts',   "/characters/pets_mounts/#{@character.name}_#{@realm}"
      %li= link_to 'Professions',     "/characters/professions/#{@character.name}_#{@realm}"
      %li= link_to 'Reputation',      "/characters/reputation/#{@character.name}_#{@realm}"
      %li= link_to 'PvP',             "/characters/pvp/#{@character.name}_#{@realm}"
      %li= link_to 'Activity',        "/characters/activity/#{@character.name}_#{@realm}"
      %li= link_to 'Feed',            "/characters/feed/#{@character.name}_#{@realm}"
      %li= link_to 'Guild',           "/characters/guild/#{@character.name}_#{@realm}"
