#left_nav_bar
  #achievement_points
    = image_tag "http://us.battle.net/wow/static/images/icons/achievements.gif", {style: "float: left; padding-top: 10px; padding-right: 5px" }
    = achievement_points 
  #left_nav_bar_main
    %ul#link_styling
      %li= link_to 'Summary',         view_characters_path(character: { name: @character.name, realm: @realm }  )
      %li{style: "color: grey"} Hunter Pets
      %li{style: "color: grey"} Auctions
      %li{style: "color: grey"} Events
      %li= link_to 'Achievements',    achievements_path(id: @character.name, character: { name: @character.name, realm: @realm }  )
      %li= link_to 'Challenge Mode',  challenge_mode_path(id: @character.name, character: { name: @character.name, realm: @realm }  )
      %li= link_to 'Pets & Mounts',   pets_mounts_path(id: @character.name, character: { name: @character.name, realm: @realm }  )
      %li= link_to 'Progression',     progression_path(id: @character.name, character: { name: @character.name, realm: @realm }  )
      %li= link_to 'Reputation',      reputation_path(id: @character.name, character: { name: @character.name, realm: @realm }  )
      -#%li= link_to 'PvP',             pvp_path(character: { name: @character.name, realm: @realm }  )
      -#%li= link_to 'Activity',        activity_path(character: { name: @character.name, realm: @realm }  )
      -#%li= link_to 'Feed',            feed_path(character: { name: @character.name, realm: @realm }  )
      -#%li= link_to 'Guild',           guild_path(character: { name: @character.name, realm: @realm }  )
