#character_wrapper{style: "height: 1000px; "}
  = render partial: 'header'
  #character_main_div{style: "height: 1000px;"}
    = render partial: 'nav'
    #character_body
      #guild_main_frame_title
        Recent achievements
      %ul#link_styling
        - achievement_array.each do |ach|
          %li{style: "color: #C09A67"}
            Earned the achievement
            %a.q3{:href => "http://www.wowhead.com/achievement=#{ach[:id]}"}
              = ach[:name]
            on
            = ach[:timestamp]
          %hr
