#character_wrapper{:style => "background-image: url(#{get_background});"}
  #character_header
    #character_header_left
      #character_header_left_top
        #character_name
          = name
        #guild_title
          #title
            = @title
          #guild
            = link_to get_guild, guild_path(id: "#{get_guild}_#{@realm}")
      #character_header_left_bottom
        = build_stats_string
    #character_header_right
      #average_items_number
        = average_item_level
      #average_item_equipped
        #average_item_header
          average item level
        #average_item_equipped_value
          = "(#{average_item_level_equipped} equipped)"
  #character_main_div
    #left_nav_bar
      #achievement_points
        = image_tag "http://us.battle.net/wow/static/images/icons/achievements.gif", {style: "float: left; padding-top: 10px; padding-right: 5px" }
        = achievement_points 
      #left_nav_bar_main
        - @nav_bar.each do |nav_item|
          %ul#link_styling
            %li= link_to nav_item
    #character_image{:style => "background-image: url(#{get_profile_main});"}
      #gear_left_column
        -@left_column_gear.each do |gear|
          %ul.gear_column
            %li
              %a.q3{:href => "http://www.wowhead.com/item=#{get_item_id(gear)}", rel: "item=#{get_item_id(gear)}"}
                = image_tag get_item_url(gear), {:style => "border-radius: 10px; box-shadow: 7px 7px 5px #000000; border: solid; border-color: purple; border-width: 2px; "} 
      #gear_buffer
        #mainhand_gear_buffer
        #mainhand_gear_footer
          -@mainhand.each do |gear|
            %ul#mainhand_gear_position
              %li{:style => "display: inline"}
                %a.q3{:href => "http://www.wowhead.com/item=#{get_item_id(gear)}", rel: "item=#{get_item_id(gear)}"}
                  = image_tag get_item_url(gear), {:style => "border-radius: 10px; display: inline; box-shadow: 7px 7px 5px #000000; border: solid; border-color: purple; border-width: 2px;"} 
      #gear_right_column
        -@right_column_gear.each do |gear|
          %ul.gear_column
            %li
              %a.q3{:href => "http://www.wowhead.com/item=#{get_item_id(gear)}", rel: "item=#{get_item_id(gear)}"}
                = image_tag get_item_url(gear), {:style => "border-radius: 10px; box-shadow: 7px 7px 5px #000000; border: solid; border-color: purple; border-width: 2px; "}
